style.css
html, body {
    font-family: "Roboto", sans-serif; 
    color: #080808;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    background: url(../img/background.png);
}

.settings {
    padding-top: 100px;
}

.settings__inner {
    border: 1px solid #83a2ce;
    border-radius: 15px;
    background: #f4faff;
    padding: 10px 115px 40px;
}

.settings__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.settings__logo {
    margin-bottom: 10px;
}

.settings__title {
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 40px;
}

.settings__input {
    width: 100%;
    background: #e6eff9;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 30px;
}

.settings__input:last-child {
    margin-bottom: 45px;
}

.settings__input::placeholder {
    font-weight: 200;
    font-size: 30px;
}

.settings__input:focus{
    border: 1px solid black;
}

.settings__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__button {
    width: 350px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #cedeed;
    font-weight: 300;
    font-size: 30px;
    transition: .3s;
}

.settings__button:hover {
    background: #334664;
    color: #fff;
}