body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto";
    font-size: 30px;
  }
  
  .container {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-image: url("../img/BG.png");
    background-size: cover;
  }
  
  .menu {
    min-width: 350px;
  }
  
  .logo {
    width: 145.93px;
    height: 124px;
    display: block;
    margin: auto;
  }
  
  ul {
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: rgba(0, 0, 0, 0.555);
  }
  
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 54px;
  }
  
  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 5px;
    min-height: 60px;
  }
  
  .avatar {
    width: 50px;
    padding-left: 10px;
  }
  
  .cards {
    padding: 10px;
  }
  
  .cards-title {
    padding: 5px;
    font-size: 24px;
  }
  
  .card-wrapper {
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  .card-link {
    text-decoration: none;
  }

  .card {
    background-image: url("../img/BG_card.png");
    background-size: cover;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
    height: 340px;
    width: 200px;
    white-space: normal;
    overflow: visible;
    text-align: left;
    color: inherit;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .card-info {
    font-size: 14px; 
    line-height: 1.5;

    text-overflow: ellipsis; 
  }

  .content {
    margin-left: 5px;
    flex-grow: 1;
    background: white;
    border-radius: 20px;
  }
  
  .content-wrapper {
    display: grid;
    background: white;
    border-radius: 20px;
    margin: 10px;
  }
  .pagination {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page-link {
    margin: 3px;
    padding: 3px 10px;
    border: 1px solid #6aaef6;
    border-radius: 5px;
    text-decoration: none;
    color: #5fa4ed;
    background-color: #f0f8ff;
}

.page-link.active {
    font-weight: bold;
    background-color: #007BFF;
    color: #fff;
}

.page-link:hover {
    background-color: #027bfc;
    color: #fff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background-color: #e0f7ff;
    border: 1px solid #57a0ed;
    border-radius: 10px;
    padding: 20px;
    width: 200px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card img {
    max-width: 100%;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

.card p.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
