<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/cards.css">
  <title>Sploit2Me</title>
</head>

<body>
<div class="wrapper">
  <main>
    <section class="base">
      <div class="base__menu">
        <a href="#" class="base__logo">
          <img src="../static/img/logo.png" alt="logo" class="base__img">
        </a>
        <div class="base__list">
          <a href="/cards" class="base__item">
            <p class="base__text">Карточки</p>
            <img src="../static/img/icon-1.svg" alt="icon" class="base__icon">
          </a>
          <a href="/stats" class="base__item">
            <p class="base__text">Статистика</p>
            <img src="../static/img/icon-2.svg" alt="icon" class="base__icon">
          </a>
          <a href="/telegram" class="base__item">
            <p class="base__text">Добавить Telegram</p>
            <img src="../static/img/icon-3.svg" alt="icon" class="base__icon">
          </a>
          <a href="/logout" class="base__item">
            <p class="base__text">Выход</p>
            <img src="../static/img/icon-3.svg" alt="icon" class="base__icon">
          </a>
        </div>
      </div>

      <style>
        .base__name {
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .base__name:hover {
          background-color: #f0f0f0;
        }
      </style>

      <div class="base__content">
        <div class="base__head">
          <p class="base__name" onclick="redirectToChangePass()">{{username}}</p>
          <img src="../static/img/avatar.png" alt="avatar" class="base__avatar">
        </div>

        <script>
          function redirectToChangePass() {
            window.location.href = "/changepass";
          }
        </script>


        <div class="cards">
          <span class="cards-title">Карточки</span>
          <div class="card-wrapper">
            {% for card in cards %}
            <a href="{{ card.link }}" class="card-link">
              <div class="card">
                <img src="{{ url_for('static', filename='img/card.png') }}" alt="Card image">
                <div class="card-info">
                  <strong>Идентификатор:</strong> {{ card.identifier }}<br>
                  <strong>Вендор ПО:</strong> {{ card.vendor }} <br>
                  <strong>ПО:</strong> {{ card.software }}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="pagination-wrapper">
          <div class="pagination">
            {% if current_page > 1 %}
            <a href="{{ url_for('view_cards', page=current_page-1) }}" class="next page-numbers">←</a>
            {% endif %}
            {% for page in range(1, total_pages + 1) %}
            <a href="{{ url_for('view_cards', page=page) }}"
               class="page-numbers {% if page == current_page %}active{% endif %}">{{ page }}</a>
            {% endfor %}
            {% if current_page < total_pages %}
            <a class="next page-numbers" href="{{ url_for('view_cards', page=current_page+1) }}">→</a>
            {% endif %}
          </div>
        </div>

      </div>

    </section>
  </main>
</body>

</html>